<!DOCTYPE html>
<html>
<head>
    <title>Title added here.</title>
	<meta charset="utf-8" />
</head>
<body>
    <!-- Two Way Binding Added-->
    <input type="text" ng-model="yourname" placeholder="Enter a name here">
    <h1>Hello, {{yourname}}!</h1>

        <h1>{{title}}</h1>

    <form ng-submit="addItem(myItem)" ng-controller="main">
        <input type="text" ng-model="myItem" value="Rice">
        <button type="submit">Add</button>

        <ul>
            <li ng-repeat="text in todo"><input type="checkbox" ng-model="text.completed"> {{text.name}}</li>
        </ul>

        <!-- Use of Filters (Completed)-->
        <h1>Items Remaining</h1>
        <div ng-repeat="thing in todo | completed">
            <label ng-model="thing.completed">{{thing.name}}</label>
        </div>

    </form>

</body>
</html>
