<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <!-- Two Way Binding Added-->
    <input type="text" ng-model="yourname" placeholder="Enter a name here">
    <h1>Hello, {{yourname}}!</h1>

    <h1>{{title}}</h1>
    <div ng-repeat="todo in list">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" ng-model="todo.completed">
                    </div>
                </div>
            {{todo.name}}
            <!-- <input type="text" class="form-control" aria-label="Text input with checkbox">-->
            </div>
                </div>

                <!-- Use of Filters (Completed)-->
                <h1>Completed Items</h1>
                <div ng-repeat="todo in list | completed">
                    <label ng-model="todo.completed">{{todo.name}}</label>
                </div>
</body>
</html>
